<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a class="header__logo" href="#home">
				<picture>
					<!-- <source type='image/webp' srcset='@img/JV-explore-logo-white.webp'>
					<img src='@img/JV-explore-logo-white.png' alt='JV-explore-logo'> -->
					<source type='image/webp' srcset='@img/JV-explore-logo-black.webp'>
					<img src='@img/JV-explore-logo-black.png' alt='JV-explore-logo'>
				</picture>
			</a>
			<nav class="header__menu menu">
				<ul class="menu__list">
					<li><a href="#home">Home</a></li>
					<li><a href="#about-us">About us</a></li>
					<li><a href="#our-products">Our products</a></li>
					<li><a href="#our-services">Our services</a></li>
					<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div class="header__burger burger">
				<div class="burger__wrapper">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</header>