body.lock {
   overflow: hidden;
}

.philosopher {
   font-family: $ff3;
}

.body {
   background-color: $lightGrey;
   background-color: $light;
   // font-family: $ff1;
   // font-family: $ff2;
   // font-family: $ff3;
   // font-family: $ff5;
   font-family: $ff4;
   @media (max-width: 768px) {
      @include fl(16);
   }
   @media (min-width: 769px) {
      @include fl(20);
   }
}
.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   overflow: hidden;
}
main {
   flex: 1 1 auto;
}
