/*Шрифты*/
$ff1: "Catamaran";
$ff2: "Nunito";
$ff3: "Philosopher";
$ff4: "Quicksand";
$ff5: "YanoneKaffeesatz";

//Цвета шрифтов
$dark: #000;
$light: #fff;
$green: #48a748;
$lightGreen: #62bd19;
$greenCardLight: #e5f6d8;
$greenCardDark: #d9e6de;
$grey: #485162;
$lightGrey: #ddd;
$lightGreyBg: #eeeeee;
$greyText: #393b3e;
