section {
   &:nth-child(odd) {
      min-height: 300px;
      background-color: $light;
      background-color: $grey;
      color: $greyText;
      color: $light;
   }
   &:nth-child(even) {
      min-height: 300px;
      background-color: $grey;
      background-color: $light;
      color: $light;
      color: $greyText;
   }
}
.title {
   font-weight: 700;
   @media (max-width: 768px) {
      @include fl(30);
   }
   @media (min-width: 769px) {
      @include fl(40);
   }
}
.content {
   @media (min-width: 769px) {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: flex-end;
      align-items: flex-start;
   }
}
.subtitle {
   font-weight: 600;
   @media (max-width: 768px) {
      @include fl(26);
   }
   @media (min-width: 769px) {
      @include fl(32);
   }
}

.items {
   display: grid;
   grid-template-columns: 1fr;
   @media (max-width: 768px) {
      row-gap: 28px;
   }
   @media (min-width: 769px) {
      row-gap: 40px;
   }
   // .about-items__item

   &__item {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      column-gap: 15px;
   }

   // .about-items__icon

   &__icon {
      flex: 0 0 60px;
      img {
         max-width: 100%;
      }
   }

   // .about-items__text

   &__text {
      align-self: center;
   }
}
.parallax {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   // .parallax__image
   &__image {
      position: absolute;
      img {
         max-width: 5vmax;
      }
      // .parallax__image_1
   }
}
// ! Home === Home === Home === Home === Home === Home === Home
// ! Home === Home === Home === Home === Home === Home === Home
// ! Home === Home === Home === Home === Home === Home === Home
.home {
   position: relative;
   // .home__container
   &__container {
      @extend %container;
      @media (max-width: 567px) {
         padding-top: 9vw;
         padding-bottom: 12vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 4vw;
         padding-bottom: 6vw;
      }
      @media (min-width: 769px) {
         padding-top: 6vw;
         padding-bottom: 6vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
   }

   // .home__title

   &__title {
      margin-bottom: 24px;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .home__content

   &__content {
   }

   // .home__left

   &__left {
      @media (max-width: 768px) {
         // margin-bottom: 40px;
         margin-bottom: 60px;
      }
      @media (min-width: 769px) {
         grid-column: 1/6;
      }
   }

   // .home__left-wrapper

   &__left-wrapper {
      position: relative;
      @media (max-width: 768px) {
         max-width: 85%;
         margin: 0 auto;
      }
   }

   &__parallax {
   }

   &__parallax-image {
      &_1 {
         top: 100%;
         left: 0;
         // transform: translate(-50%, -50%);
         transform: translate(-75%, -25%);
      }
      &_2 {
         top: 0;
         left: 100%;
         // transform: translate(-50%, -50%);
         transform: translate(-25%, -75%);
      }
   }

   // .home__image

   &__image {
      position: relative;
      padding-bottom: percent(400, 700);

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   // .home__right

   &__right {
      @media (min-width: 769px) {
         grid-column: 7/13;
      }
      @media (min-width: 1100px) {
         grid-column: 8/12;
      }
   }

   // .home__subtitle

   &__subtitle {
      margin-bottom: 20px;
   }

   // .home__text

   &__text {
   }
}
// ! About === About === About === About === About === About ===
// ! About === About === About === About === About === About ===
// ! About === About === About === About === About === About ===
.about {
   position: relative;
   z-index: 1;
   &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 0px;
      border-right-width: 100vw;
      border-top: 10vw solid $grey;
   }
   // .about__container
   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      @media (max-width: 468px) {
         padding-top: 20vw;
      }
      @media (min-width: 469px) and (max-width: 567px) {
         padding-top: 16vw;
      }
      @media (max-width: 567px) {
         padding-bottom: 12vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 12vw;
         padding-bottom: 9vw;
      }
      @media (min-width: 769px) {
         padding-top: 14vw;
         padding-bottom: 8vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
      @media (min-width: 1400px) {
         padding-bottom: 7vw;
      }
   }

   // .about__title

   &__title {
      text-align: right;
      margin-bottom: 24px;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .about__content

   &__content {
   }

   // .about__left

   &__left {
      @media (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (min-width: 769px) {
         grid-column: 1/6;
      }
   }

   // .about__right

   &__right {
      @media (min-width: 568px) and (max-width: 768px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 20px;
      }
      @media (min-width: 769px) {
         grid-column: 7/13;
      }
      @media (min-width: 1200px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 20px;
      }
   }

   // .about__subtitle

   &__subtitle {
      margin-bottom: 20px;
   }

   // .about__text

   &__text {
   }
}
// ! Products === Products === Products === Products === Products
// ! Products === Products === Products === Products === Products
// ! Products === Products === Products === Products === Products
.products {
   // overflow-y: hidden;
   // background-color: $lightGrey !important;
   overflow: hidden;
   position: relative;
   z-index: 1;
   @media (min-width: 769px) {
      &:before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 300%;
         height: 300%;
         transform: translateY(-50%) rotate(-3deg);
         background: $grey;
         background-color: $light;
         border-radius: 50%;
      }
   }
   &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: 0px;
      border-bottom-width: 10vw;
      border-right: 100vw solid $grey;
      border-right: 100vw solid $light;
   }
   // .products__container

   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      // padding-top: 2vw;
      // margin-top: -10vw;
      @media (max-width: 468px) {
         padding-top: 20vw;
         padding-bottom: 20vw;
      }
      @media (min-width: 469px) and (max-width: 567px) {
         padding-top: 16vw;
         padding-bottom: 16vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 12vw;
         padding-bottom: 18vw;
      }
      @media (min-width: 769px) {
         padding-top: 14vw;
         padding-bottom: 14vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
   }

   // .products__title

   &__title {
      // margin-top: -2vw;
      margin-bottom: 24px;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .products__content

   &__content {
   }

   // .products__left

   &__left {
      @media (min-width: 769px) {
         grid-column: 1/6;
         order: 1;
      }
   }

   // .products__right

   &__right {
      @media (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (min-width: 769px) {
         order: 2;
      }
      @media (min-width: 769px) and (max-width: 1199px) {
         grid-column: 8/13;
      }
      @media (min-width: 1200px) {
         grid-column: 8/12;
      }
   }

   // .products__image

   &__image {
      position: relative;
      padding-bottom: percent(300, 600);
      margin-bottom: 2vw;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}
// ! Services === Services === Services === Services === Services
// ! Services === Services === Services === Services === Services
// ! Services === Services === Services === Services === Services
.services {
   position: relative;
   z-index: 1;
   &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 0px;
      border-left-width: 100vw;
      border-bottom: 10vw solid $grey;
      border-bottom: 10vw solid $light;
   }
   // .services__container

   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      @media (max-width: 768px) {
         padding-bottom: 9vw;
         padding-top: 12vw;
      }
      @media (min-width: 769px) {
         padding-top: 8vw;
         padding-bottom: 6vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
   }

   // .services__title

   &__title {
      text-align: right;
      margin-bottom: 24px;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   &__top,
   &__bottom {
      @media (min-width: 769px) {
         grid-column: span 12;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         align-items: flex-end;
         align-items: flex-start;
      }
   }

   // .services__top

   &__top {
      @media (max-width: 768px) {
         margin-bottom: 44px;
      }
      @media (min-width: 769px) {
         margin-bottom: 60px;
      }
      @media (min-width: 1000px) {
         margin-bottom: percent(100, 1920);
      }
      .services__image {
         @media (min-width: 769px) {
            grid-column: 1/5;
         }
      }
      .services__text {
         @media (min-width: 769px) {
            grid-column: 6/13;
         }
         @media (min-width: 1000px) {
            grid-column: 6/12;
         }
         @media (min-width: 1400px) {
            grid-column: 7/12;
         }
      }
   }
   // .services__bottom

   &__bottom {
      .services__image {
         @media (min-width: 769px) {
            grid-column: 9/13;
            order: 2;
         }
      }
      .services__text {
         @media (min-width: 769px) {
            grid-column: 1/8;
            order: 1;
         }
         @media (min-width: 1000px) {
            grid-column: 1/7;
         }
         @media (min-width: 1400px) {
            grid-column: 2/7;
         }
      }
   }

   // .services__image

   &__image {
      position: relative;
      padding-bottom: percent(300, 600);
      @media (max-width: 768px) {
         margin-bottom: 24px;
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   // .services__text

   &__text {
   }
}
// ! Contacts === Contacts === Contacts === Contacts === Contacts
// ! Contacts === Contacts === Contacts === Contacts === Contacts
// ! Contacts === Contacts === Contacts === Contacts === Contacts
.contacts {
   // .contacts__container

   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      padding-bottom: 3vw;
      @media (max-width: 768px) {
         padding-top: 9vw;
      }
      @media (min-width: 769px) {
         padding-top: 6vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
   }

   // .contacts__title

   &__title {
      margin-bottom: 24px;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .contacts__content
   &__content {
      @media (min-width: 769px) {
         align-items: flex-end;
      }
   }
   // .contacts__items

   &__items {
      @media (max-width: 768px) {
         margin-bottom: 40px;
         .items__item {
            justify-content: flex-start;
         }
      }
      @media (min-width: 769px) {
         grid-column: 1/7;
      }
   }

   // .contacts__logo

   &__logo {
      display: block;
      text-align: right;
      transition: all 0.3s ease;
      &:hover {
         transform: scale(1.2);
      }
      @media (max-width: 768px) {
         img {
            max-width: 120px;
         }
      }
      @media (min-width: 769px) {
         img {
            max-width: 150px;
         }
         grid-column: 9/12;
      }
   }
}
