section {
   &:nth-child(odd) {
      background-color: $light;
      background-color: $grey;
      color: $greyText;
      color: $light;
   }
   &:nth-child(even) {
      min-height: 300px;
      background-color: $grey;
      background-color: $light;
      color: $light;
      color: $greyText;
   }
}
.title {
   color: $dark;
   font-weight: 700;
   @media (max-width: 768px) {
      @include fl(30);
      margin-bottom: 28px;
   }
   @media (min-width: 769px) {
      @include fl(40);
      margin-bottom: 48px;
   }
}
.content {
   // border: 10px solid red;
   @media (min-width: 769px) {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: flex-end;
      align-items: flex-start;
   }
}
.subtitle {
   font-weight: 600;
   @media (max-width: 768px) {
      @include fl(26);
      margin-bottom: 16px;
   }
   @media (min-width: 769px) {
      @include fl(32);
      margin-bottom: 24px;
   }
}

.items {
   display: grid;
   grid-template-columns: 1fr;
   @media (max-width: 768px) {
      row-gap: 32px;
   }
   @media (min-width: 769px) {
      row-gap: 50px;
   }
   // .items__item

   &__item {
      // display: flex;
      // justify-content: flex-end;
      // align-items: flex-start;
      display: grid;
      grid-template-columns: 15% 1fr;
      column-gap: 15px;
   }

   // items__icon

   &__icon {
      flex: 0 0 60px;
      svg {
         width: 100%;
         height: auto;
      }
      img {
         max-width: 100%;
      }
   }

   // items__content
   &__content {
      // display: grid;
      // grid-template-columns: 1fr;
      // grid-template-rows: 1fr auto;
   }
   // items__title
   &__title {
      color: $greyText;
      font-weight: 600;
      font-size: 1.1em;
      margin-bottom: 8px;
   }
   // items__text

   &__text {
      color: $greyText;
      align-self: center;
      opacity: 0.95;
   }
}
.parallax {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   // .parallax__image
   &__image {
      position: absolute;
      img {
         max-width: 5vmax;
      }
      // .parallax__image_1
   }
}
// ! Home === Home === Home === Home === Home === Home === Home
// ! Home === Home === Home === Home === Home === Home === Home
// ! Home === Home === Home === Home === Home === Home === Home
.home-triangle {
   position: relative;
   height: 10vw;
}
.home {
   position: relative;
   overflow: visible;
   &:after {
      content: "";
      position: absolute;
      // top: 100%;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 0px;
      border-right-width: 100vw;
      border-top: 10vw solid $grey;
      z-index: 1;
      background-color: #fff;
   }
   @media (min-width: 769px) {
      &:before {
         content: "";
         position: absolute;
         top: 50%;
         right: 63%;
         bottom: -10vw;
         width: 300%;
         height: 300%;
         transform: translate(2%, -50%) rotate(-3deg);
         // background: linear-gradient(77deg, $green 80%, $grey 92%);
         background-color: $light;
         border-radius: 50%;
         z-index: 2;
      }
   }
   @media (min-width: 1400px) {
      &:before {
         right: 70%;
      }
   }
   // .home__container
   &__container {
      @extend %container;
      @media (max-width: 567px) {
         padding-top: 9vw;
         padding-bottom: 12vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 4vw;
         padding-bottom: 6vw;
      }
      @media (min-width: 769px) {
         padding-top: 6vw;
         padding-bottom: 6vw;
         padding-bottom: 16vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         position: relative;
         z-index: 5;
      }
   }

   // .home__content

   &__content {
      @media (min-width: 769px) {
         column-gap: 3vmax;
      }
   }

   // .home__left

   &__left {
      @media (max-width: 768px) {
         // margin-bottom: 40px;
         margin-bottom: 60px;
      }
      @media (min-width: 769px) {
         // grid-column: 1/6;
         grid-column: 6/13;
         order: 2;
      }
      @media (min-width: 1400px) {
         grid-column: 5/13;
         padding-left: 50px;
      }
   }

   // .home__left-wrapper

   &__left-wrapper {
      position: relative;
      @media (max-width: 768px) {
         margin: 0 auto;
      }
      @media (min-width: 769px) {
      }
   }

   &__parallax {
   }

   &__parallax-image {
      &_1 {
         top: 100%;
         left: 0;
         // transform: translate(-50%, -50%);
         transform: translate(-75%, -25%);
      }
      &_2 {
         top: 0;
         left: 100%;
         // transform: translate(-50%, -50%);
         transform: translate(-25%, -75%);
      }
   }

   // .home__image

   &__image {
      position: relative;
      padding-bottom: percent(953, 1472);
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
   &__pulse {
      position: absolute;
      z-index: 1;
      width: 3.32%;
      height: 5.13%;
      &:nth-child(1) {
         top: 49.5%;
         left: 43%;
         .ringring {
            animation-delay: 0s;
         }
      }
      &:nth-child(2) {
         top: 42.5%;
         left: 46.4%;
         .ringring {
            animation-delay: 0.2s;
         }
      }
      &:nth-child(3) {
         top: 44%;
         left: 49.6%;
         .ringring {
            animation-delay: 0.4s;
         }
      }
      &:nth-child(4) {
         top: 46.7%;
         left: 52.8%;
         .ringring {
            animation-delay: 0.6s;
         }
      }
      &:nth-child(5) {
         top: 50.6%;
         left: 51.23%;
         .ringring {
            animation-delay: 0.8s;
         }
      }
      &:nth-child(6) {
         top: 62%;
         left: 66.3%;
         .ringring {
            animation-delay: 0s;
         }
      }
      &:nth-child(7) {
         top: 59.5%;
         left: 69.6%;
         .ringring {
            animation-delay: 0.2s;
         }
      }
      &:nth-child(8) {
         top: 63.3%;
         left: 74.6%;
         .ringring {
            animation-delay: 0.4s;
         }
      }
      &:nth-child(9) {
         top: 69.8%;
         left: 74.6%;
         .ringring {
            animation-delay: 0.6s;
         }
      }
      &:nth-child(10) {
         top: 69.8%;
         left: 78.83%;
         .ringring {
            animation-delay: 0.8s;
         }
      }
      &:nth-child(11) {
         top: 64.8%;
         left: 80.5%;
         .ringring {
            animation-delay: 1s;
         }
      }
      &:nth-child(12) {
         top: 54.47%;
         left: 78.83%;
         .ringring {
            animation-delay: 1.2s;
         }
      }
   }
   &__pulse-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      .circle {
         width: 60%;
         height: 60%;
         // If need to change size of dots
         // width: 30%;
         // height: 30%;
         background-color: $green;
         border-radius: 50%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      .ringring {
         border: 3px solid $green;
         border-radius: 120%;
         height: 100%;
         width: 100%;
         // position: absolute;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         animation: pulsate 1.2s ease-out;
         animation-iteration-count: infinite;
         opacity: 0;
      }
      @keyframes pulsate {
         0% {
            transform: translate(-50%, -50%) scale(0.1, 0.1);
            opacity: 0;
         }
         50% {
            opacity: 1;
         }
         100% {
            transform: translate(-50%, -50%) scale(1.2, 1.2);
            opacity: 0;
         }
      }
   }
   // .home__right

   &__right {
      @media (min-width: 769px) {
         // grid-column: 7/13;
         grid-column: 1/6;
         order: 1;
         color: $dark;
         position: relative;
         z-index: 3;
      }
      @media (min-width: 1100px) {
         // grid-column: 8/12;
         max-width: 630px;
      }
      @media (min-width: 1400px) {
         grid-column: 1/5;
      }
   }

   // .home__subtitle

   &__subtitle {
      @media (max-width: 768px) {
         @include fl(34);
         margin-bottom: 16px;
      }
      @media (min-width: 769px) {
         @include fl(50);
         margin-bottom: 24px;
         padding-right: 30px;
      }
   }

   // .home__text

   &__text {
      color: $greyText;
      &:not(:last-child) {
         @media (max-width: 768px) {
            margin-bottom: 12px;
         }
         @media (min-width: 769px) {
            margin-bottom: 16px;
         }
      }
      li {
         font-size: 1.8em;
         font-weight: 700;
         color: $green;
         &:last-child {
            position: relative;
            &:after {
               content: "";
               display: inline-block;
               margin-left: 3px;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: $green;
            }
         }
      }
   }
}
// ! About === About === About === About === About === About ===
// ! About === About === About === About === About === About ===
// ! About === About === About === About === About === About ===
.about {
   position: relative;
   z-index: 3;
   // &__fix {
   //    @media (min-width: 769px) {
   //       position: relative;
   //       &:after {
   //          content: "";
   //          position: absolute;
   //          bottom: 100%;
   //          left: -10%;
   //          width: 120%;
   //          height: 5vw;
   //          background: $light;
   //          transform: rotate(354.3deg);
   //       }
   //    }
   // }
   // z-index: 4;
   // &:after {
   //    content: "";
   //    position: absolute;
   //    top: 0;
   //    left: 0;
   //    width: 0;
   //    height: 0;
   //    border: 0 solid transparent;
   //    border-left-width: 0px;
   //    border-right-width: 100vw;
   //    border-top: 10vw solid $grey;
   // }
   // .about__container
   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      @media (max-width: 468px) {
         padding-top: 20vw;
      }
      @media (min-width: 469px) and (max-width: 567px) {
         padding-top: 16vw;
      }
      @media (max-width: 567px) {
         padding-bottom: 12vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 12vw;
         padding-bottom: 9vw;
      }
      @media (min-width: 769px) {
         padding-top: 14vw;
         padding-top: 4vw;
         padding-bottom: 8vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
      @media (min-width: 1400px) {
         padding-bottom: 7vw;
      }
   }

   // .about__title

   &__title {
      text-align: right;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .about__content

   &__content {
      @media (min-width: 769px) {
         align-items: center;
         // align-items: start !important;
      }
   }

   // .about__left

   &__left {
      @media (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (min-width: 769px) {
         grid-column: 1/6;
      }
   }

   // .about__right

   &__right {
      @media (min-width: 568px) and (max-width: 768px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 20px;
         .subtitle {
            grid-column: span 2;
         }
      }
      @media (min-width: 769px) {
         grid-column: 7/13;
         grid-template-columns: 1fr;
         .subtitle {
            margin-bottom: -30px !important;
            padding-left: 75px;
         }
      }
      @media (min-width: 1200px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 20px;
         .subtitle {
            grid-column: span 2;
         }
      }
   }

   // .about__subtitle
   .subtitle {
      color: $dark;
   }
   &__subtitle {
   }

   // .about__text

   &__text {
      &:not(:last-child) {
         @media (max-width: 768px) {
            margin-bottom: 12px;
         }
         @media (min-width: 769px) {
            margin-bottom: 16px;
         }
      }
      &_bold {
         font-weight: 600;
      }
   }
}
// ! Products === Products === Products === Products === Products
// ! Products === Products === Products === Products === Products
// ! Products === Products === Products === Products === Products
// .products {
//    // overflow-y: hidden;
//    // background-color: $lightGrey !important;
//    overflow: hidden;
//    position: relative;
//    z-index: 3;
//    @media (min-width: 769px) {
//       &:before {
//          content: "";
//          position: absolute;
//          top: 50%;
//          left: 50%;
//          width: 300%;
//          height: 300%;
//          transform: translateY(-50%) rotate(-3deg);
//          background: $grey;
//          background-color: $light;
//          border-radius: 50%;
//       }
//    }
//    &:after {
//       content: "";
//       position: absolute;
//       z-index: 1;
//       top: 0;
//       left: 0;
//       width: 0;
//       height: 0;
//       border: 0 solid transparent;
//       border-top-width: 0px;
//       border-bottom-width: 10vw;
//       border-right: 100vw solid $grey;
//       border-right: 100vw solid $light;
//    }
//    // .products__container

//    &__container {
//       @extend %container;
//       position: relative;
//       z-index: 1;
//       // padding-top: 2vw;
//       // margin-top: -10vw;
//       @media (max-width: 468px) {
//          padding-top: 20vw;
//          padding-bottom: 20vw;
//       }
//       @media (min-width: 469px) and (max-width: 567px) {
//          padding-top: 16vw;
//          padding-bottom: 16vw;
//       }
//       @media (min-width: 568px) and (max-width: 768px) {
//          padding-top: 12vw;
//          padding-bottom: 18vw;
//       }
//       @media (min-width: 769px) {
//          padding-top: 14vw;
//          padding-bottom: 14vw;
//          display: grid;
//          grid-template-columns: repeat(12, 1fr);
//       }
//    }

//    // .products__title

//    &__title {
//       @media (min-width: 769px) {
//          grid-column: 1/12;
//       }
//    }

//    // .products__content

//    &__content {
//    }

//    // .products__left

//    &__left {
//       @media (min-width: 769px) {
//          grid-column: 1/6;
//          order: 1;
//       }
//    }

//    // .products__items
//    &__items {
//       @media (max-width: 768px) {
//          margin-bottom: 32px;
//       }
//       @media (min-width: 769px) {
//          margin-bottom: 48px;
//       }
//    }
//    // .products__info
//    &__info {
//       grid-row: 3/4;
//       grid-column: 1/7;
//       font-size: 1.1em;
//       a {
//          color: $green;
//          font-weight: 600;
//          transition: color 0.3s ease;
//          &:hover {
//             color: $lightGreen;
//          }
//          &:active {
//             color: $green;
//          }
//       }
//    }

//    // .products__right

//    &__right {
//       @media (max-width: 768px) {
//          margin-bottom: 40px;
//       }
//       @media (min-width: 769px) {
//          order: 2;
//       }
//       @media (min-width: 769px) and (max-width: 1199px) {
//          grid-column: 8/13;
//       }
//       @media (min-width: 1200px) {
//          grid-column: 8/12;
//       }
//    }

//    // .products__image

//    &__image {
//       position: relative;
//       padding-bottom: percent(300, 600);
//       margin-bottom: 2vw;

//       img {
//          position: absolute;
//          top: 0;
//          left: 0;
//          width: 100%;
//          height: 100%;
//          object-fit: cover;
//          object-position: center;
//       }
//    }
// }
.products {
   background-color: $light !important;
   // .products__container
   &__container {
      @extend %container;
      // padding-top: 2vw;
      // margin-top: -10vw;
      @media (max-width: 468px) {
         padding-top: 20vw;
         padding-bottom: 20vw;
      }
      @media (min-width: 469px) and (max-width: 567px) {
         padding-top: 16vw;
         padding-bottom: 16vw;
      }
      @media (min-width: 568px) and (max-width: 768px) {
         padding-top: 12vw;
         padding-bottom: 18vw;
      }
      @media (min-width: 769px) {
         padding-top: 14vw;
         padding-bottom: 14vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
      }
   }

   // .products__title

   &__title {
      color: $dark;
      @media (max-width: 768px) {
         @include fl(52);
      }
      @media (min-width: 769px) {
         grid-column: 1/12;
         @include fl(70);
      }
   }

   // .products__content

   &__content {
      @media (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (min-width: 769px) {
         row-gap: 60px;
         margin-bottom: 80px;
      }
   }

   &__item {
      @media (min-width: 769px) {
         grid-column: span 12;
         display: grid;
         align-items: center;
         grid-template-columns: repeat(12, 1fr);
      }
      &:nth-child(1) {
         .products__image {
            @media (min-width: 769px) {
               grid-column: 1/6;
            }
         }
         .products__text {
            @media (min-width: 769px) {
               grid-column: 8/13;
            }
         }
      }
      &:nth-child(2) {
         .products__image {
            @media (min-width: 769px) {
               grid-column: 8/13;
               order: 2;
            }
         }
         .products__text {
            @media (min-width: 769px) {
               grid-column: 1/6;
               order: 1;
            }
         }
      }
   }

   &__image {
      position: relative;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
      &:after {
         content: "";
         position: absolute;
         top: -20px;
         left: -20px;
         right: -20px;
         bottom: 0;
         box-shadow: inset 0 -20px 20px $light, inset 0 -20px 20px $light;
      }
      &_1 {
         padding-bottom: percent(187, 308);
         @media (max-width: 768px) {
            margin-left: percent(-20, 320);
         }
         @media (min-width: 769px) {
            margin-left: percent(-60, 760);
         }
      }

      &_2 {
         padding-bottom: percent(162, 308);

         @media (max-width: 768px) {
            margin-right: percent(-20, 320);
         }
         @media (min-width: 769px) {
            margin-right: percent(-60, 760);
         }
      }
   }

   &__text {
      @media (min-width: 769px) {
         grid-column: 7/13;
         max-width: 500px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   &__item-title {
      color: $dark;
      text-align: center;
      position: relative;
      &:after {
         content: "";
         position: absolute;
         left: -20px;
         right: -20px;
         height: 2px;
         background: $green;
         @media (max-width: 768px) {
            bottom: -15px;
         }
         @media (min-width: 769px) {
            bottom: -30px;
         }
      }
      @media (max-width: 768px) {
         margin-bottom: 30px;
         @include fl(40);
      }
      @media (min-width: 769px) {
         @include fl(58);
         margin-bottom: 60px;
      }
   }
   &__item-text {
      color: $greyText;
      text-align: justify;
      text-align-last: center;
   }

   // .products__info
   &__info {
      color: $dark;
      grid-column: span 12;
      font-size: 1.1em;
      @media (max-width: 768px) {
         max-width: 560px;
      }
      @media (min-width: 769px) {
         max-width: 700px;
      }
      a {
         color: $green;
         font-weight: 600;
         transition: color 0.3s ease;
         &:hover {
            color: $lightGreen;
         }
         &:active {
            color: $green;
         }
      }
   }
}
// ! Services === Services === Services === Services === Services
// ! Services === Services === Services === Services === Services
// ! Services === Services === Services === Services === Services
.services {
   // position: relative;
   // z-index: 3;
   // &:after {
   //    content: "";
   //    position: absolute;
   //    bottom: 100%;
   //    left: 0;
   //    width: 0;
   //    height: 0;
   //    border: 0 solid transparent;
   //    border-right-width: 0px;
   //    border-left-width: 100vw;
   //    border-bottom: 10vw solid $grey;
   //    border-bottom: 10vw solid $light;
   // }
   // .services__container

   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      @media (max-width: 768px) {
         padding-bottom: 9vw;
         padding-top: 12vw;
         display: grid;
      }
      @media (min-width: 769px) {
         padding-top: 8vw;
         padding-bottom: 6vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         row-gap: 5vw;
      }
   }

   &__images {
      position: relative;
      padding-bottom: percent(419, 799);
      @media (max-width: 768px) {
         margin-bottom: 40px;
         grid-row: 2/3;
         order: 2;
      }
      @media (min-width: 769px) {
         grid-column: 1/8;
      }
   }
   &__image {
      position: absolute;
      // overflow: hidden;
      height: 100%;
      width: 100%;
      img {
         position: absolute;
         top: 50%;
         left: 44%;
         object-fit: cover;
         object-position: center;
      }
      &_1 {
         // // padding-bottom: percent(419, 799);
         img {
            // top: 10%;
            // left: 15%;
            width: 95%;
            height: 80%;
            z-index: 1;
            transform: translate(-35%, -50%);
         }
      }
      &_2 {
         // // padding-bottom: percent(500, 813);
         img {
            // top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
         }
      }
   }

   // .services__title

   &__title {
      text-align: right;
      @media (max-width: 768px) {
         grid-row: 1/2;
         order: 1;
         @include fl(40);
         // @include fl(52);
      }
      @media (min-width: 769px) {
         grid-column: 9/12;
         margin-bottom: 0;
         align-self: center;
         @include fl(58);
         // @include fl(70);
      }
   }
   // .services__content

   &__content {
      display: grid;
      row-gap: 60px;
      @media (max-width: 568px) {
         grid-template-columns: 1fr;
      }
      @media (min-width: 569px) and (max-width: 991px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 30px;
      }
      @media (min-width: 769px) {
         grid-column: span 12;
         gap: 35px;
      }
      @media (min-width: 990px) {
         grid-template-columns: repeat(4, 1fr);
      }
   }
}
.services-item {
   // .services-item__image

   &__image {
      margin-bottom: 20px;
      svg {
         height: auto;
         @media (max-width: 768px) {
            max-width: 90px;
         }
         @media (min-width: 769px) {
            max-width: 7vmax;
         }
      }
      img {
         @media (max-width: 768px) {
            max-width: 90px;
         }
         @media (min-width: 769px) {
            max-width: 7vmax;
         }
      }
   }

   // .services-item__title

   &__title {
      display: inline-block;
      color: $green;
      position: relative;
      margin-bottom: 35px;
      font-weight: 600;
      @media (max-width: 768px) {
         @include fl(22);
         @include fl(24);
         margin-bottom: 28px;
      }
      @media (min-width: 769px) {
         @include fl(28);
         @include fl(30);

         margin-bottom: 48px;
      }
      &:after {
         content: "";
         position: absolute;
         bottom: -5px;
         left: 0;
         width: 100%;
         height: 1px;
         background: $green;
      }
   }

   // .services-item__content

   &__content {
      display: grid;
      row-gap: 15px;
   }

   // .services-item__text

   &__text {
   }

   // .services-item__list

   &__list {
      list-style: disc;
      list-style-position: inside;
      padding-left: 10px;
      @media (min-width: 569px) {
      }
      li {
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }
}

// ! Contacts === Contacts === Contacts === Contacts === Contacts
// ! Contacts === Contacts === Contacts === Contacts === Contacts
// ! Contacts === Contacts === Contacts === Contacts === Contacts
.contacts {
   // .contacts__container

   &__container {
      @extend %container;
      position: relative;
      z-index: 1;
      @media (max-width: 768px) {
         padding-top: 9vw;
         padding-bottom: 20px;
      }
      @media (min-width: 769px) {
         padding-top: 6vw;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         padding-bottom: 2vw;
      }
   }

   // .contacts__title

   &__title {
      color: $light;
      @media (min-width: 769px) {
         grid-column: 1/12;
      }
   }

   // .contacts__content
   &__content {
      @media (max-width: 768px) {
         display: grid;
         row-gap: 20px;
      }
      @media (min-width: 769px) {
         align-items: flex-end;
      }
   }

   &__text {
      @media (min-width: 769px) {
         grid-column: 1/9;
         max-width: 600px;
      }
      a {
         color: $green;
         font-weight: 600;
         transition: color 0.3s ease;
         &:hover {
            color: $lightGreen;
         }
         &:active {
            color: $green;
         }
      }
   }
   // .contacts__items

   &__items {
      @media (max-width: 768px) {
         margin-bottom: 40px;
         .items__item {
            justify-content: flex-start;
         }
      }
      @media (min-width: 769px) {
         grid-column: 1/7;
      }
   }

   // .contacts__logo

   &__logo {
      display: inline-block;
      text-align: right;
      margin-left: auto;
      img {
         transition: all 0.3s ease;
      }
      &:hover {
         img {
            transform: scale(1.2);
         }
      }
      @media (max-width: 768px) {
         img {
            max-width: 120px;
         }
      }
      @media (min-width: 769px) {
         img {
            max-width: 150px;
         }
         grid-column: 9/12;
      }
   }
}
