@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.contacts__container,
.services__container,
.products__container,
.about__container,
.home__container,
.header__container {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

@font-face {
  font-family: "Catamaran";
  font-display: swap;
  src: url("../fonts/Catamaran-Regular.woff") format("woff"), url("../fonts/Catamaran-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Catamaran";
  font-display: swap;
  src: url("../fonts/Catamaran-SemiBold.woff") format("woff"), url("../fonts/Catamaran-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Catamaran";
  font-display: swap;
  src: url("../fonts/Catamaran-Bold.woff") format("woff"), url("../fonts/Catamaran-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  font-display: swap;
  src: url("../fonts/Philosopher-Bold.woff") format("woff"), url("../fonts/Philosopher-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-SemiBold.woff") format("woff"), url("../fonts/Quicksand-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.philosopher {
  font-family: "Philosopher";
}

.body {
  background-color: #fff;
  font-family: "Catamaran";
}

section,
a {
  font-family: "Catamaran";
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  z-index: 6;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.header:hover {
  opacity: 1 !important;
}

.header.active:before {
  z-index: 2;
  transition: z-index 0s ease 0s;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #485162;
  background-color: #fff;
  z-index: 0;
  transition: z-index 2s ease 0.8s;
}

.header:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #48a748;
  z-index: 2;
  box-shadow: 0px 0px 2px #48a748;
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.header__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 100%;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__logo img {
  max-width: 100%;
}

.menu {
  z-index: 1;
}

.menu__list {
  display: flex;
}

.menu__list a {
  display: block;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  color: #485162;
  font-size: 1.125rem;
  line-height: 1.25;
  position: relative;
}

.menu__list a:hover {
  color: #48a748;
}

.menu__list a:hover:after {
  width: 100%;
}

.menu__list a:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #48a748;
  transition: all 0.3s ease;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger:hover {
  transform: scale(1.2);
}

.burger:hover .burger__wrapper span,
.burger:hover .burger__wrapper:before,
.burger:hover .burger__wrapper:after {
  background-color: #48a748;
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.spoiler {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up__close-icon:after,
.pop-up__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up-video.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up-video__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up-video__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up-video__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up-video__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up-video__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up-video__close-icon:after,
.pop-up-video__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up-video__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up-video__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video__content {
  position: relative;
  overflow: hidden;
}

.pop-up-video__preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.subtitle {
  font-weight: 600;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
}

.items__item {
  display: grid;
  grid-template-columns: auto 1fr;
}

.items__item:nth-child(3) .items__icon path {
  fill: #eeeeee;
}

.items__item:nth-child(4) .items__icon svg {
  width: 35px;
}

.items__item:nth-child(4) .items__icon svg rect,
.items__item:nth-child(4) .items__icon svg polyline {
  stroke: #eeeeee;
  fill: transparent;
}

.items__icon {
  background: linear-gradient(90deg, rgb(0, 144, 19) 0%, rgb(0, 232, 0) 100%);
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items__icon svg {
  max-width: 100%;
  width: 50px;
  height: auto;
  fill: #eeeeee;
}

.items__title {
  color: #393b3e;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.items__text {
  color: #393b3e;
  align-self: center;
  opacity: 0.95;
}

.parallax {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__image {
  position: absolute;
}

.parallax__image img {
  max-width: 5vmax;
}

.home {
  background-color: #485162;
  position: relative;
}

.home__left-wrapper {
  position: relative;
}

.home__parallax-image_1 {
  top: 100%;
  left: 0;
  transform: translate(-75%, -25%);
}

.home__parallax-image_2 {
  top: 0;
  left: 100%;
  transform: translate(-25%, -75%);
}

.home__image {
  position: relative;
  padding-bottom: 64.7418478261%;
}

.home__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.home__pulse {
  position: absolute;
  z-index: 1;
  width: 3.32%;
  height: 5.13%;
}

.home__pulse:nth-child(1) {
  top: 49.5%;
  left: 43%;
}

.home__pulse:nth-child(1) .ringring {
  animation-delay: 0s;
}

.home__pulse:nth-child(2) {
  top: 42.5%;
  left: 46.4%;
}

.home__pulse:nth-child(2) .ringring {
  animation-delay: 0.2s;
}

.home__pulse:nth-child(3) {
  top: 44%;
  left: 49.6%;
}

.home__pulse:nth-child(3) .ringring {
  animation-delay: 0.4s;
}

.home__pulse:nth-child(4) {
  top: 46.7%;
  left: 52.8%;
}

.home__pulse:nth-child(4) .ringring {
  animation-delay: 0.6s;
}

.home__pulse:nth-child(5) {
  top: 50.6%;
  left: 51.23%;
}

.home__pulse:nth-child(5) .ringring {
  animation-delay: 0.8s;
}

.home__pulse:nth-child(6) {
  top: 62%;
  left: 66.3%;
}

.home__pulse:nth-child(6) .ringring {
  animation-delay: 0s;
}

.home__pulse:nth-child(7) {
  top: 59.5%;
  left: 69.6%;
}

.home__pulse:nth-child(7) .ringring {
  animation-delay: 0.2s;
}

.home__pulse:nth-child(8) {
  top: 63.3%;
  left: 74.6%;
}

.home__pulse:nth-child(8) .ringring {
  animation-delay: 0.4s;
}

.home__pulse:nth-child(9) {
  top: 69.8%;
  left: 74.6%;
}

.home__pulse:nth-child(9) .ringring {
  animation-delay: 0.6s;
}

.home__pulse:nth-child(10) {
  top: 69.8%;
  left: 78.83%;
}

.home__pulse:nth-child(10) .ringring {
  animation-delay: 0.8s;
}

.home__pulse:nth-child(11) {
  top: 64.8%;
  left: 80.5%;
}

.home__pulse:nth-child(11) .ringring {
  animation-delay: 1s;
}

.home__pulse:nth-child(12) {
  top: 54.47%;
  left: 78.83%;
}

.home__pulse:nth-child(12) .ringring {
  animation-delay: 1.2s;
}

.home__pulse:nth-child(13) {
  top: 68%;
  left: 47.95%;
}

.home__pulse:nth-child(13) .ringring {
  animation-delay: 1s;
}

.home__pulse:nth-child(14) {
  top: 79%;
  left: 32.8%;
}

.home__pulse:nth-child(14) .ringring {
  animation-delay: 0s;
}

.home__pulse:nth-child(15) {
  top: 49%;
  left: 24.58%;
}

.home__pulse:nth-child(15) .ringring {
  animation-delay: 0.4s;
}

.home__pulse:nth-child(16) {
  top: 59.6%;
  left: 23.7%;
}

.home__pulse:nth-child(16) .ringring {
  animation-delay: 0.2s;
}

.home__pulse:nth-child(17) {
  top: 57.2%;
  left: 15.4%;
}

.home__pulse:nth-child(17) .ringring {
  animation-delay: 0.4s;
}

.home__pulse:nth-child(18) {
  top: 53%;
  left: 12%;
}

.home__pulse:nth-child(18) .ringring {
  animation-delay: 0.6s;
}

.home__pulse-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.home__pulse-wrapper .circle {
  width: 60%;
  height: 60%;
  background-color: #48a748;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__pulse-wrapper .ringring {
  border: 3px solid #48a748;
  border-radius: 120%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulsate 1.2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0;
  }
}

.home__text {
  color: #393b3e;
}

.home__text li {
  font-size: 2.5em;
  font-weight: 700;
  color: #48a748;
}

.home__text li:last-child {
  position: relative;
}

.home__text li:last-child:after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #48a748;
}

.about {
  position: relative;
  background-color: #eeeeee;
  z-index: 3;
}

.about:before {
  content: "";
  position: absolute;
  top: -10vw;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 100vw;
  border-bottom: 10vw solid #eeeeee;
  z-index: -1;
  background-color: transparent;
}

.about__container {
  position: relative;
  z-index: 1;
}

.about__title {
  text-align: right;
}

.about__right .subtitle {
  position: relative;
  font-weight: 900;
}

.about__right .subtitle:after {
  content: "";
  position: absolute;
  left: 10%;
  right: -20%;
  height: 5px;
  border-radius: 20px;
  background: #48a748;
}

.about .subtitle {
  color: #000;
  position: relative;
  display: inline-block;
}

.about .subtitle:after {
  content: "";
  position: absolute;
  left: 10%;
  right: -20%;
  bottom: -7.5px;
  height: 4px;
  border-radius: 20px;
  background: #48a748;
}

.about__text {
  color: #393b3e;
}

.about__text_bold {
  font-weight: 600;
}

.products {
  background-color: #fff;
  position: relative;
  z-index: 4;
}

.products:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 100vw;
  border-top: 10vw solid #eeeeee;
}

.products__container {
  position: relative;
  z-index: 1;
}

.products__title {
  color: #000;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.products__image {
  position: relative;
  z-index: -1;
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.products__image:after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: 0;
  box-shadow: inset 0 -20px 20px #fff, inset 0 -20px 20px #fff, 0 2px 2px #fff, inset 0 2px 0px #fff;
}

.products__image_1 {
  padding-bottom: 60.7142857143%;
}

.products__image_1 img {
  filter: hue-rotate(285deg) contrast(100%) saturate(400%) grayscale(100%);
}

.products__image_2 {
  padding-bottom: 52.5974025974%;
}

.products__item-title {
  color: #000;
  text-align: center;
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.products__item-title:after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  height: 5px;
  border-radius: 20px;
  background: #48a748;
}

.products__item-text {
  color: #393b3e;
  text-align: justify;
}

.products__info {
  padding: 8px 16px;
  background-color: #ddd;
  border-radius: 0px 20px 20px 20px;
  color: #000;
  grid-column: span 12;
  font-size: 1.1em;
}

.products__info a {
  color: #48a748;
  font-weight: 600;
  transition: color 0.3s ease;
}

.products__info a:hover {
  color: #62bd19;
}

.products__info a:active {
  color: #48a748;
}

.services {
  background-color: #eeeeee;
  position: relative;
  z-index: 4;
}

.services:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 0px;
  border-right-width: 100vw;
  border-top: 10vw solid #fff;
  z-index: 2;
  background-color: #eeeeee;
}

.services__container {
  position: relative;
  z-index: 3;
}

.services__images {
  position: relative;
  padding-bottom: 52.4405506884%;
}

.services__circle {
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  background-color: #48a748;
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
  width: 80.645%;
  height: 153.789%;
}

.services__image {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding-bottom: 31.8785578748%;
}

.services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.services__title {
  font-weight: 700;
  color: #000;
  text-align: right;
}

.services__content {
  display: grid;
  position: relative;
  z-index: 2;
}

.services-item {
  transition: transform 1s ease;
}

.services-item:hover {
  transform: scale(1.02) !important;
}

.services-item__image {
  background: linear-gradient(90deg, rgb(0, 144, 19) 0%, rgb(0, 232, 0) 100%);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}

.services-item__image svg,
.services-item__image img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: auto;
}

.services-item__image svg {
  width: 90%;
}

.services-item__image_3 svg {
  width: 95%;
}

.services-item__image_4 img {
  width: 80%;
}

.services-item__title {
  display: inline-block;
  color: #48a748;
  font-weight: 600;
  position: relative;
}

.services-item__title:after {
  content: "";
  position: absolute;
  left: 10%;
  right: -20%;
  height: 5px;
  border-radius: 20px;
  background: #48a748;
  bottom: -10px;
}

.services-item__content {
  display: grid;
  row-gap: 15px;
}

.services-item__list {
  list-style: disc;
  list-style-position: inside;
  padding-left: 10px;
}

.services-item__list li:not(:last-child) {
  margin-bottom: 15px;
}

.contacts {
  background-color: #485162;
  color: #fff;
  position: relative;
}

.contacts:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 100vw;
  border-top: 10vw solid #eeeeee;
}

.contacts__title {
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.contacts__title:after {
  content: "";
  position: absolute;
  left: 10%;
  right: -20%;
  height: 5px;
  border-radius: 20px;
  background: #fff;
  bottom: -10px;
}

.contacts__text a {
  color: #48a748;
  font-weight: 600;
  transition: color 0.3s ease;
}

.contacts__text a:hover {
  color: #62bd19;
}

.contacts__text a:active {
  color: #48a748;
}

.contacts__logo {
  display: inline-block;
  text-align: right;
  margin-left: auto;
}

.contacts__logo img {
  transition: all 0.3s ease;
}

.contacts__logo:hover img {
  transform: scale(1.2);
}

@media (min-width: 769px) {
  .contacts__container,
  .services__container,
  .products__container,
  .about__container,
  .home__container,
  .header__container {
    padding-left: 2.9296875%;
    padding-right: 2.9296875%;
  }

  .body {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .header__body {
    align-items: center;
  }

  .header__logo {
    flex: 0 1 150px;
  }

  .menu {
    position: relative;
    flex: 1 1 auto;
  }

  .home {
    padding-top: 81px;
  }

  .title {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 48px;
  }

  .content {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-end;
    align-items: flex-start;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  .items {
    row-gap: 50px;
  }

  .items__item {
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .items__icon {
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
  }

  .home:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 63%;
    bottom: -10vw;
    width: 300%;
    height: 300%;
    transform: translate(2%, -50%) rotate(-3deg);
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
  }

  .home__container {
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-bottom: 16vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    z-index: 5;
  }

  .home__content {
    -moz-column-gap: 3vmax;
    column-gap: 3vmax;
  }

  .home__left {
    grid-column: 6/13;
    order: 2;
  }

  .home__right {
    grid-column: 1/6;
    order: 1;
    color: #000;
    position: relative;
    z-index: 3;
  }

  .home__subtitle {
    font-size: 3.125rem;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-right: 30px;
  }

  .home__text:not(:last-child) {
    margin-bottom: 16px;
  }

  .about__container {
    padding-top: 14vw;
    padding-top: 4vw;
    padding-bottom: 8vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .about__title {
    grid-column: 1/12;
  }

  .about__content {
    align-items: center;
  }

  .about__left {
    grid-column: 1/6;
  }

  .about__right .subtitle:after {
    bottom: 23px;
  }

  .about__right .subtitle {
    margin-bottom: -30px !important;
    margin-top: -66px;
    font-size: 2.375rem;
    line-height: 1.25;
  }

  .about__right {
    grid-column: 7/13;
    grid-template-columns: 1fr;
  }

  .about__text:last-child {
    padding-top: 10px;
  }

  .about__text:not(:last-child) {
    margin-bottom: 16px;
  }

  .products__container {
    padding-top: 10vw;
    padding-bottom: 14vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .products__title {
    grid-column: 1/12;
    font-size: 4.375rem;
    line-height: 1.25;
    padding-bottom: 68px;
  }

  .products__content {
    row-gap: 60px;
    margin-bottom: 90px;
  }

  .products__item {
    grid-column: span 12;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
  }

  .products__item:nth-child(1) .products__image {
    grid-column: 1/6;
  }

  .products__item:nth-child(1) .products__text {
    grid-column: 8/13;
  }

  .products__item:nth-child(2) .products__image {
    grid-column: 8/13;
    order: 2;
  }

  .products__item:nth-child(2) .products__text {
    grid-column: 1/6;
    order: 1;
  }

  .products__image_1 {
    margin-left: -7.8947368421%;
  }

  .products__image_2 {
    margin-right: -7.8947368421%;
  }

  .products__text {
    grid-column: 7/13;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .products__item-title:after {
    bottom: -5px;
  }

  .products__item-title {
    font-size: 3.625rem;
    line-height: 1.25;
    margin-bottom: 35px;
  }

  .products__info {
    max-width: 700px;
  }

  .services__container {
    padding-top: 8vw;
    padding-bottom: 6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 5vw;
  }

  .services__images {
    grid-column: 1/8;
  }

  .services__title {
    grid-column: 9/12;
    margin-bottom: 0;
    align-self: center;
    font-size: 3.625rem;
    line-height: 1.25;
  }

  .services__content {
    grid-column: span 12;
    gap: 35px;
    row-gap: 60px;
  }

  .services-item {
    padding: 30px;
    border-radius: 40px;
  }

  .services-item__title {
    font-size: 1.875rem;
    line-height: 1.25;
    margin-bottom: 48px;
  }

  .contacts__container {
    padding-top: 6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 2vw;
  }

  .contacts__title {
    grid-column: 1/12;
  }

  .contacts__content {
    align-items: flex-end;
  }

  .contacts__text {
    grid-column: 1/9;
    max-width: 600px;
  }

  .contacts__logo {
    grid-column: 9/12;
  }

  .contacts__logo img {
    max-width: 150px;
  }
}

@media (min-width: 850px) {
  .header__container {
    min-height: 80px;
  }

  .menu__list {
    flex-wrap: wrap;
    justify-content: flex-end;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 5px;
    -moz-column-gap: 2vw;
    column-gap: 2vw;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 990px) {
  .about__right .subtitle {
    font-size: 3rem;
    line-height: 1.25;
  }
}

@media (min-width: 1100px) {
  .home__right {
    max-width: 630px;
  }
}

@media (min-width: 1200px) {
  .about__right {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .about__right .subtitle {
    grid-column: span 2;
  }
}

@media (min-width: 1400px) {
  .home:before {
    right: 70%;
  }

  .home__left {
    grid-column: 5/13;
    padding-left: 50px;
  }

  .home__right {
    grid-column: 1/5;
  }

  .about__container {
    padding-bottom: 7vw;
  }
}

@media (min-width: 1600px) {
  .services__content {
    grid-template-columns: repeat(4, 1fr);
  }

  .services-item:nth-child(odd) {
    background-color: #d9e6de;
  }

  .services-item:nth-child(even) {
    background-color: #e5f6d8;
  }
}

@media (max-width: 849px) {
  .header__container {
    min-height: 60px;
  }

  .header__body {
    align-items: flex-start;
  }

  .header__logo {
    flex: 0 1 120px;
  }

  .header__logo img {
    vertical-align: middle;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    transition: left 0.6s ease 0s;
    overflow-y: auto;
  }

  .menu.active {
    left: 0;
    transition: left 0.8s ease 0s;
  }

  .menu.active:after {
    opacity: 0.8;
    transition: all 0.3s ease 0.7s;
  }

  .menu.active .menu__list {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }

  .menu:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0s ease 0s;
  }

  .menu__list {
    overflow-y: auto;
    padding-left: 4.6875%;
    padding-right: 4.6875%;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fff;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 0.6s ease 0s;
  }
}

@media (max-width: 768px) {
  .body {
    font-size: 1rem;
    line-height: 1.25;
  }

  .home {
    padding-top: 61px;
  }

  .title {
    font-size: 1.875rem;
    line-height: 1.25;
    margin-bottom: 28px;
  }

  .subtitle {
    font-size: 1.625rem;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  .items {
    row-gap: 32px;
  }

  .items__item {
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .items__icon {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
  }

  .home__left {
    margin-bottom: 60px;
  }

  .home__left-wrapper {
    margin: 0 auto;
  }

  .home__subtitle {
    font-size: 2.125rem;
    line-height: 1.25;
    margin-bottom: 16px;
    color: #fff;
  }

  .home__text {
    color: #fff;
  }

  .home__text:not(:last-child) {
    margin-bottom: 12px;
    color: #fff;
  }

  .about__container {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .about__left {
    margin-bottom: 50px;
  }

  .about__left h3 {
    margin-bottom: 32px;
  }

  .about__left h3:last-of-type {
    padding-top: 20px;
  }

  .about__right .subtitle {
    font-size: 1.875rem;
    line-height: 1.25;
    display: inline-block;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .about__right .subtitle:after {
    bottom: -7.5px;
  }

  .about__text:not(:last-child) {
    margin-bottom: 12px;
  }

  .products__container {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .products__content {
    margin-bottom: 60px;
  }

  .products__image_1 {
    margin-left: -6.25%;
  }

  .products__image_2 {
    margin-right: -6.25%;
  }

  .products__item-title:after {
    bottom: -10px;
  }

  .products__item-title {
    margin-bottom: 32px;
  }

  .products__info {
    max-width: 560px;
  }

  .services__container {
    padding-bottom: 60px;
    padding-top: 50px;
    display: grid;
  }

  .services__images {
    margin-bottom: 60px;
    grid-row: 2/3;
    order: 2;
  }

  .services__title {
    grid-row: 1/2;
    order: 1;
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .services__content {
    row-gap: 40px;
  }

  .services-item {
    padding: 18px;
    border-radius: 25px;
  }

  .services-item__title {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 28px;
  }

  .contacts__container {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .contacts__content {
    display: grid;
    row-gap: 20px;
  }

  .contacts__logo img {
    max-width: 120px;
  }
}

@media (max-width: 649px) {
  .services-item:nth-child(odd) {
    background-color: #d9e6de;
  }

  .services-item:nth-child(even) {
    background-color: #e5f6d8;
  }
}

@media (max-width: 568px) {
  .products__title {
    font-size: 2.5rem;
    line-height: 1.25;
  }

  .products__item-title {
    font-size: 2.125rem;
    line-height: 1.25;
  }

  .services__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 567px) {
  .home__container {
    padding-top: 9vw;
    padding-bottom: 80px;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .home__container {
    padding-top: 6vw;
    padding-bottom: 80px;
  }

  .about__right .subtitle {
    grid-column: span 2;
    margin-top: -20px;
  }

  .about__right {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

@media (min-width: 569px) and (max-width: 768px) {
  .products__title {
    font-size: 3.25rem;
    line-height: 1.25;
  }

  .products__item-title {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

@media (min-width: 650px) and (max-width: 1599px) {
  .services__content {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .services-item {
    border-radius: 40px;
  }

  .services-item:first-child,
  .services-item:last-child {
    background-color: #d9e6de;
  }

  .services-item:nth-child(2),
  .services-item:nth-child(3) {
    background-color: #e5f6d8;
  }
}