@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.contacts__container,
.services__container,
.products__container,
.about__container,
.home__container,
.header__container {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Meidum.woff") format("woff"), url("../fonts/Nunito-Meidum.woff-2") format("woff-2");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

body {
  background-color: #ddd;
  background-color: #fff;
  font-family: "Nunito";
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.header:hover {
  opacity: 1 !important;
}

.header.active:before {
  z-index: 2;
  transition: z-index 0s ease 0s;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #485162;
  background-color: #fff;
  z-index: 0;
  transition: z-index 2s ease 0.8s;
}

.header:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #48a748;
  z-index: 2;
  box-shadow: 0px 0px 2px #48a748;
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.header__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 100%;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__logo img {
  max-width: 100%;
}

.menu {
  z-index: 1;
}

.menu__list {
  display: flex;
}

.menu__list a {
  display: block;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  color: #485162;
  font-size: 1.125rem;
  line-height: 1.25;
  position: relative;
}

.menu__list a:hover {
  color: #48a748;
}

.menu__list a:hover:after {
  width: 100%;
}

.menu__list a:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #48a748;
  transition: all 0.3s ease;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger:hover {
  transform: scale(1.2);
}

.burger:hover .burger__wrapper span,
.burger:hover .burger__wrapper:before,
.burger:hover .burger__wrapper:after {
  background-color: #48a748;
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.spoiler {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up__close-icon:after,
.pop-up__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0.5s;
}

.pop-up-video.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0s, z-index 0s ease 0s;
}

.pop-up-video__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pop-up-video__body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.pop-up-video__close-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(8px, -8px);
  transition: transform 0.3s ease;
}

.pop-up-video__close-icon-wrapper:hover {
  transform: translate(8px, -8px) scale(1.35);
}

.pop-up-video__close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.pop-up-video__close-icon:after,
.pop-up-video__close-icon:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
}

.pop-up-video__close-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.pop-up-video__close-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-video__content {
  position: relative;
  overflow: hidden;
}

.pop-up-video__preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

section:nth-child(odd) {
  min-height: 300px;
  background-color: #fff;
  background-color: #485162;
  color: #393b3e;
  color: #fff;
}

section:nth-child(even) {
  min-height: 300px;
  background-color: #485162;
  background-color: #fff;
  color: #fff;
  color: #393b3e;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
}

.items__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.items__icon {
  flex: 0 0 60px;
}

.items__icon img {
  max-width: 100%;
}

.items__text {
  align-self: center;
}

.parallax {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__image {
  position: absolute;
}

.parallax__image img {
  max-width: 5vmax;
}

.home {
  position: relative;
}

.home__title {
  margin-bottom: 24px;
}

.home__left-wrapper {
  position: relative;
}

.home__parallax-image_1 {
  top: 100%;
  left: 0;
  transform: translate(-75%, -25%);
}

.home__parallax-image_2 {
  top: 0;
  left: 100%;
  transform: translate(-25%, -75%);
}

.home__image {
  position: relative;
  padding-bottom: 57.1428571429%;
}

.home__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.home__subtitle {
  margin-bottom: 20px;
}

.about {
  position: relative;
  z-index: 1;
}

.about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 0px;
  border-right-width: 100vw;
  border-top: 10vw solid #485162;
}

.about__container {
  position: relative;
  z-index: 1;
}

.about__title {
  text-align: right;
  margin-bottom: 24px;
}

.about__subtitle {
  margin-bottom: 20px;
}

.products {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.products:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 0px;
  border-bottom-width: 10vw;
  border-right: 100vw solid #485162;
  border-right: 100vw solid #fff;
}

.products__container {
  position: relative;
  z-index: 1;
}

.products__title {
  margin-bottom: 24px;
}

.products__image {
  position: relative;
  padding-bottom: 50%;
  margin-bottom: 2vw;
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.services {
  position: relative;
  z-index: 1;
}

.services:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 100vw;
  border-bottom: 10vw solid #485162;
  border-bottom: 10vw solid #fff;
}

.services__container {
  position: relative;
  z-index: 1;
}

.services__title {
  text-align: right;
  margin-bottom: 24px;
}

.services__image {
  position: relative;
  padding-bottom: 50%;
}

.services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.contacts__container {
  position: relative;
  z-index: 1;
  padding-bottom: 6vw;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts__logo {
  display: block;
  text-align: right;
  transition: all 0.3s ease;
}

.contacts__logo img {
  max-width: 150px;
}

.contacts__logo:hover {
  transform: scale(1.2);
}

@media (min-width: 769px) {
  .contacts__container,
  .services__container,
  .products__container,
  .about__container,
  .home__container,
  .header__container {
    padding-left: 2.9296875%;
    padding-right: 2.9296875%;
  }

  body {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .header__body {
    align-items: center;
  }

  .header__logo {
    flex: 0 1 150px;
  }

  .menu {
    position: relative;
    flex: 1 1 auto;
  }

  .menu__list {
    flex-wrap: wrap;
    justify-content: flex-end;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 5px;
    -moz-column-gap: 2vw;
    column-gap: 2vw;
  }

  .title {
    font-size: 2.5rem;
    line-height: 1.25;
  }

  .content {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-end;
    align-items: flex-start;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 1.25;
  }

  .items {
    row-gap: 40px;
  }

  .home__container {
    padding-top: 6vw;
    padding-bottom: 6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .home__title {
    grid-column: 1/12;
  }

  .home__left {
    grid-column: 1/6;
  }

  .home__right {
    grid-column: 7/13;
  }

  .about__container {
    padding-top: 14vw;
    padding-bottom: 8vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .about__title {
    grid-column: 1/12;
  }

  .about__left {
    grid-column: 1/6;
  }

  .about__right {
    grid-column: 7/13;
  }

  .products:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transform: translateY(-50%) rotate(-3deg);
    background: #485162;
    background-color: #fff;
    border-radius: 50%;
  }

  .products__container {
    padding-top: 14vw;
    padding-bottom: 14vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .products__title {
    grid-column: 1/12;
  }

  .products__left {
    grid-column: 1/6;
    order: 1;
  }

  .products__right {
    order: 2;
  }

  .services__container {
    padding-top: 8vw;
    padding-bottom: 6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .services__title {
    grid-column: 1/12;
  }

  .services__top,
  .services__bottom {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-end;
    align-items: flex-start;
  }

  .services__top {
    margin-bottom: 60px;
  }

  .services__top .services__image {
    grid-column: 1/5;
  }

  .services__top .services__text {
    grid-column: 6/13;
  }

  .services__bottom .services__image {
    grid-column: 9/13;
    order: 2;
  }

  .services__bottom .services__text {
    grid-column: 1/8;
    order: 1;
  }

  .contacts__container {
    padding-top: 6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .contacts__title {
    grid-column: 1/12;
  }

  .contacts__content {
    align-items: flex-end;
  }

  .contacts__items {
    grid-column: 1/7;
  }

  .contacts__logo {
    grid-column: 9/12;
    text-align: right;
  }
}

@media (min-width: 850px) {
  .header__container {
    min-height: 80px;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1000px) {
  .services__top {
    margin-bottom: 5.2083333333%;
  }

  .services__top .services__text {
    grid-column: 6/12;
  }

  .services__bottom .services__text {
    grid-column: 1/7;
  }
}

@media (min-width: 1100px) {
  .home__right {
    grid-column: 8/12;
  }
}

@media (min-width: 1200px) {
  .about__right {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .products__right {
    grid-column: 8/12;
  }
}

@media (min-width: 1400px) {
  .about__container {
    padding-bottom: 7vw;
  }

  .services__top .services__text {
    grid-column: 7/12;
  }

  .services__bottom .services__text {
    grid-column: 2/7;
  }
}

@media (max-width: 849px) {
  .header__container {
    min-height: 60px;
  }

  .header__body {
    align-items: flex-start;
  }

  .header__logo {
    flex: 0 1 120px;
  }

  .header__logo img {
    vertical-align: middle;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    transition: left 0.8s ease 0.3s, opacity 0.3s ease 0s;
    overflow-y: auto;
  }

  .menu.active {
    left: 0;
    transition: left 0.8s ease 0s, opacity 0.3s ease 0.8s;
  }

  .menu.active:after {
    opacity: 0.8;
    transition: all 0.3s ease 0.7s;
  }

  .menu.active .menu__list {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }

  .menu:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    overflow-y: auto;
    padding-left: 4.6875%;
    padding-right: 4.6875%;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fff;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 0.8s ease 0.3s;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.25;
  }

  .title {
    font-size: 1.875rem;
    line-height: 1.25;
  }

  .subtitle {
    font-size: 1.625rem;
    line-height: 1.25;
  }

  .items {
    row-gap: 28px;
  }

  .home__left {
    margin-bottom: 60px;
  }

  .home__left-wrapper {
    max-width: 85%;
    margin: 0 auto;
  }

  .about__left {
    margin-bottom: 40px;
  }

  .products__right {
    margin-bottom: 40px;
  }

  .services__container {
    padding-bottom: 9vw;
    padding-top: 12vw;
  }

  .services__top {
    margin-bottom: 44px;
  }

  .services__image {
    margin-bottom: 24px;
  }

  .contacts__container {
    padding-top: 9vw;
  }

  .contacts__items {
    margin-bottom: 40px;
  }

  .contacts__items .items__item {
    justify-content: flex-start;
  }
}

@media (max-width: 567px) {
  .home__container {
    padding-top: 9vw;
    padding-bottom: 12vw;
  }

  .about__container {
    padding-bottom: 12vw;
  }
}

@media (max-width: 468px) {
  .about__container {
    padding-top: 20vw;
  }

  .products__container {
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .home__container {
    padding-top: 4vw;
    padding-bottom: 6vw;
  }

  .about__container {
    padding-top: 12vw;
    padding-bottom: 9vw;
  }

  .about__right {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .products__container {
    padding-top: 12vw;
    padding-bottom: 18vw;
  }
}

@media (min-width: 469px) and (max-width: 567px) {
  .about__container {
    padding-top: 16vw;
  }

  .products__container {
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .products__right {
    grid-column: 8/13;
  }
}