<svg data-name="Layer 1" id="Layer_1" viewBox="0 0 48 48">
	<defs>
		<style>
			#f-cls-1,
			#f-cls-2 {
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-width: 2.5px;
			}
		</style>
	</defs>
	<title />
	<polyline id="f-cls-1" points="1 1 1 47 47 47" />
	<rect id="f-cls-2" height="22" width="7" x="5" y="21" />
	<rect id="f-cls-2" height="16" width="7" x="16" y="27" />
	<rect id="f-cls-2" height="28" width="7" x="27" y="15" />
	<rect id="f-cls-2" height="21" width="7" x="38" y="22" />
</svg>